.navigation-item {
    list-style-type: none;
    padding: 3px;
    width: 250px;
    border: solid 1px palevioletred;
    display: block;
}

.navigation-item:hover {
    background-color: palevioletred;
    border: solid 1px black;
    color: white;
}

.nav-display {
    width: 100%;
    justify-content: space-evenly;
}

.nav-display > a {
    text-decoration: none;
    color: black;
}

.selected {
    height: auto;
    background-color: paleturquoise;
}

.title {
    width: 100%;
}

.sub-nav {
    display: inline-block; 
    width: 100%;
}

.hide {
    display: none
}

.show {
    height: 200px;
}