// Standard colours
$success:                   #00A82D;
$error:                     #FF1A2F;
$warning:                   #FFA026;
$default:                   #889195;
$primary:                   #4481F1;